

services:
  admin:
    container_name: rungame-admin
    # 使用本地构建并传输过来的镜像
    image: rungame-admin:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile.admin
    #   args:
    #     NODE_ENV: production
    #     DATABASE_URL: ${DATABASE_URL}
    #     BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
    #     BETTER_AUTH_URL: ${BETTER_AUTH_URL}
    #     ENCRYPTION_KEY: ${ENCRYPTION_KEY}
    restart: always
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=4000
    networks:
      - rungame-network

networks:
  rungame-network:
    driver: bridge
